{% extends "base.tpl.html" %}

{% block content %}
	<div class="wrapper fadeInDown">
		<div id="formContent" style="background-color: rgb(89, 76, 81); border: 3px solid rgb(68, 57, 61);">
			<!-- New gallery Form -->
			<form action="change_password.php" method="POST" enctype="multipart/form-data">
                Old password:
                <input type="password" id="password" class="fadeIn first text-white" name="old_password" placeholder="Old password"><br>

                New password:
                <input type="password" id="password" class="fadeIn second text-white" name="new_password" placeholder="New password"><br>

                Confirm new password:
			    <input type="password" id="password" class="fadeIn third text-white" name="new_cpassword" placeholder="Confirm new password"><br>

                <input class="form-control" type="hidden" name="user_id" value="{{ user_id }}">

                <input type="submit" class="fadeIn fifth" value="Change password" id="submit">
            </form>
        </div>
    </div>
{% endblock %}